@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navigation {
    @apply relative flex items-center gap-2 py-2 px-4 text-main-gray hover:!text-main-purple hover:!bg-transparent active:!bg-transparent
  }
  .navigation::after {
    @apply content-[''] bg-main-purple h-[3px] w-[0%] left-0 bottom-0 rounded-xl absolute duration-300 hover:w-[100%]
  }
  .active {
    @apply !text-main-purple
  }
  .active::after {
      @apply w-[100%]
  }

  .dot {
    @apply relative bg-white
  }

  .dot::before {
    @apply content-[''] bg-orange-900 h-[5px] w-[5px] rounded-xl absolute z-10
  }

  .like::before {
    @apply right-[-1px] top-[3px]
  }

  .message::before {
    @apply right-[-1px] top-[3px]
  }

  .notification::before {
    @apply right-[1px] top-[3px]
  }

  .row {
    @apply flex flex-col gap-[0.5rem] pb-[1rem] lg:flex-row
  }



}

body {
  margin: 0;
  font-family: 'Montserrat', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.listing {
  background: url("./assets/images/Listing.png") no-repeat;
  background-size:cover;
}

.file-input-container {
  position: relative;
}

.file-input-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #8458B3;
    color: #FFFFFF;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 13px;
}

.file-input-text {
  display: inline-block;
  margin-left: 8px;
  color: #4a5568;
  font-size: 13px;
}

/* Style for when a file is selected */
.file-input-container input[type="file"]:not(.hidden):focus + .file-input-button {
  outline: 2px solid #4c51bf;
}

.file-input-container input[type="file"]:not(.hidden):focus + .file-input-button,
.file-input-container input[type="file"]:not(.hidden):hover + .file-input-button {
  background-color: #cbd5e0;
  color: #2d3748;
}

.video-container {
  background: url("./assets/images/video-bg2.jpg") no-repeat;
  background-size:cover;
}

/* Image inside a container */
.play-image{
  /* Image link */
  background: url("./assets/images/play-button.png") no-repeat;
  background-size:cover;
}

.venture-logo{
  /* Image link */
  background: url("./assets/images/VentureVerse-Black.png") no-repeat;
  background-size:cover;
}

.parent > div {
  width: 30%;
}